div > h1 {
    font-weight: lighter;
    background-color: blue;
    color: white;
    display: block;
    width: 300px;
}
div > button {
    padding: 10px;
    border-radius: 5px;
    background-color: red;

}